<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h3 class="display-4 text-info">Let's Quiz</h3>
    <p class="lead">We organize quizzes on various topics.</p>

    

    <p class="lead">Sign up if you haven't already and get access to millions of quizzes on the topic of your interest.</p>
    
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-left: 5px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>

</html>
